*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.top-bar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    max-width: 1200px;
}

.left-side{
    display: flex;
    align-items: center;
}

.title{
    font-size: 2.5rem;
    margin-left: 1rem;
}

.container{
    display: flex;
    height: 70vh;
    background-color: rgb(127, 255, 212);
}

.grid{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 600px;
    height: 600px;
}

div[class*="cell"]{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

div[class*="cell"]:hover{
    cursor: pointer;
}

.cell-100{
    height: calc(100% / 10);
    width: calc(100% / 10);
}

.cell-81{
    height: calc(100% / 9);
    width: calc(100% / 9);
}

.cell-49{
    height: calc(100% / 7);
    width: calc(100% / 7);
}


.active{
    background-color: rgb(0, 162, 232);
}

.foot{
    margin: auto;
    max-width: 1200px;
    margin-top: 3rem;
}

